<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <form action="/questions/update/<%=question.uuid%>" method="POST">
        <div class="form-group">
            <label for="questionText">Question</label>
            <textarea class="form-control" id="questionText" rows="4" name="questionText"><%=question.text%></textarea>
        </div>
        <div class="form-group">
                <label for="selectType">Question Type</label>
                <select class="form-control" id="selectType" name="questionType">
                    <% types.forEach(function(type){%>
                        <option value="<%=type.id%>" <% if (question.type == type.id) {%>selected <% } %></option><%=type.value%></option>
                    <% })%>
                </select>
        </div>
        <div class="form-group">
            <label for="selectDifficulty">Question Difficulty</label>
            <select class="form-control" id="selectDifficulty" name="questionDifficulty" value="<%=question.difficulty%>">
                <option value="1" <% if (question.difficulty==1) {%>selected<%}%>>1</option>
                <option value="2" <% if (question.difficulty==2) {%>selected<%}%>>2</option>
                <option value="3" <% if (question.difficulty==3) {%>selected<%}%>>3</option>
                <option value="4" <% if (question.difficulty==4) {%>selected<%}%>>4</option>
                <option value="5" <% if (question.difficulty==5) {%>selected<%}%>>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-danger" href="/questions/list">Cancel</a>
    </form>
</body>
<% include ../partials/footer %>

</html>